<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

/*OTHER EDITING*/
*{
	background-color: #FFFFFF;
	font-family: 'Roboto';
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}
.mt-lg-0 {
    margin-top: 0!important;
}
.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
hr.solid {
	border-top: 1px solid #FFFFFF;
}
h2{
	font-weight: 400;
	font-size: 80px;
	line height: 60px;
	letter-spacing: 2px;
}
h4{
	font-weight: 400;
	font-size: 38px;
	line height: 38px;
	letter-spacing: -.08px;
}
h3{
	font-size: 200px;
    line-height: 50px;
    font-weight: 500;
}
.Font1{
	font-size: 20px;
}
.Font2{
	font-size: 25px;
}
.Font3{
	font-size: 20px;
}
.Font4{
	font-size: 26px;
}
li{
	display: block;
}
li a{
    display: inline-block;
    padding-right: 25px;
    color: #000000;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;
}
li a:hover{
    color: #006AFF;
}
button{
	padding: 0px 35px;
    color: #FFFFFF;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}
button:hover{
	color: #00D5FF;
}

.Header_part .TitleButton{
    background-color: #000000;
}
.Header_part .ArticleButton{
    background-color: #FC0E52;
}
.Header_part img{
	height: auto;
	width: 80%;
}
.Header_part .spacing{
	margin-top: 70px;
}
.Header_part p{
	margin-top: 100px;
}


.Body_Part1 .columnInfo{
    padding: 60px;
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
}


.Pink_Color_Background{
    background: #FC0E52;
    color: #FFFFFF;
    padding-left: 600px;
    padding-top: 58px;
    padding-bottom: 58px;
    margin-top: -40px;
}
.Pink_Color_Background li a{
    color: #FFFFFF;
}
.Pink_Color_Background .info3 li a:hover{
    color: #FFFFFF;
}


.Body_Part2 img{
    width: 80%;
    height: auto;
}


.Body_Part3 img{
    width: 80%;
    height: auto;
}


.Body_Part4 img{
    width: 80%;
    height: auto;
}


.Last_part{
    background: #000000;
    color: #FFFFFF;
    padding: 100px;
}
.Last_part img{
	border:none; 
	border-radius: 120px;
}
@media screen and (max-width: 700px){
	h2{
	font-weight: 500;
	font-size: 35px;
	line height: 40px;
	letter-spacing: -1px;
	}
	h4{
		font-weight: 500;
		font-size: 35px;
		line height: 40px;
		letter-spacing: -.08px;
	}
	h3{
		font-size: 30px;
	    line-height: 38px;
	    font-weight: 500;
	}
	.Font1{
	font-size: 25px;
	}
	.Font2{
		font-size: 25px;
	}
	.Font3{
		font-size: 20px;
	}
	.Font4{
		font-size: 25px;
	}
	.Header_part .spacing{
	margin-top: 5px;
	}
	.Header_part p{
		margin-top: 0px;
	}
}
